@page
@model MySite.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="CompanyTags" asp-items="Model.Companys">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
